@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oswald:wght@200..700&display=swap');

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .oswal400 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } 

  .oswal200 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  } 

.columnas {
    columns: 33 400px;
    column-gap: 1rem;
}


/*imagen*/
.img {
    width: 50 ;
    object-fit: left;

}   
.clip-me {
  clip-path: polygon(46% 5%, 100% 22%, 100% 100%, 18% 90%, 0 30%);
}
.recortado {
    float: left;
    clip-path: polygon(46% 5%, 100% 22%, 100% 100%, 18% 90%, 0 30%);
    shape-outside: polygon(40%);
}
/*margen */
main {
margin: 0 1rem;
}